@import "tailwindcss";

@theme {
  --color-blue-mtm-100: oklch(89.26% 0.103 229.68);
  --color-blue-mtm-200: oklch(79.79% 0.129 232.74);
  --color-blue-mtm-300: oklch(70.21% 0.151 236.43);
  --color-blue-mtm-400: oklch(58.33% 0.183 239.56);
  --color-blue-mtm-500: oklch(51.58% 0.155 240.23);
  --color-blue-mtm-600: oklch(42.54% 0.121 241.22);
  --color-blue-mtm-700: oklch(34.12% 0.091 242.06);

  --color-mono-white: oklch(96.38% 0.009 265.71);
  --color-mono-light-grey: oklch(82.23% 0 0);
  --color-mono-grey: oklch(59.9% 0 0);
  --color-mono-dark-grey: oklch(36.19% 0.005 270);
  --color-mono-black: oklch(14.01% 0.007 266.67);

  --color-add-dark-yellow: oklch(61.88% 0.134 88.54);
  --color-add-brown: oklch(42.55% 0.139 37.64);
  --color-add-blue: oklch(33.58% 0.223 263.31);
  --color-add-green: oklch(69.83% 0.177 141.69);
  --color-add-red: oklch(62.37% 0.257 29.23);
  --color-add-dark-red: oklch(45.98% 0.177 30.69);

  --color-basic-red: oklch(0.627 0.257 29.234);
  --color-basic-orange: oklch(0.755 0.169 59.933);
  --color-basic-yellow: oklch(0.967 0.210 100.490);
  --color-basic-green: oklch(0.793 0.214 142.495);
  --color-basic-blue: oklch(0.452 0.274 264.169);
  --color-basic-purple: oklch(0.617 0.303 308.605);

  --color-basic-red-light: oklch(0.82 0.07 13.63);
  --color-basic-orange-light: oklch(0.90 0.06 75.67);
  --color-basic-yellow-light: oklch(0.96 0.06 100.21);
  --color-basic-green-light: oklch(0.90 0.08 144.44);
  --color-basic-blue-light: oklch(0.81 0.11 274.33);
  --color-basic-purple-light: oklch(0.84 0.13 317.07);

  /* 4px */
  --spacing-1: 0.25rem;
  /* 8px */
  --spacing-2: 0.5rem;
  /* 12px */
  --spacing-3: 0.75rem;
  /* 16px */
  --spacing-4: 1rem;
  /* 24px */
  --spacing-6: 1.5rem;
  /* 32px */
  --spacing-8: 2rem;

  --shadow-s-100: 0 2px 4px -2px rgb(24 39 75 / 0.12), 0 4px 4px -2px rgb(24 39 75 / 0.08);
  --shadow-s-200: 0 4px 6px -4px rgb(24 39 75 / 0.12), 0 8px 8px -4px rgb(24 39 75 / 0.08);
  --shadow-s-300: 0 6px 8px -6px rgb(24 39 75 / 0.12), 0 8px 16px -6px rgb(24 39 75 / 0.08);
  --shadow-s-400: 0 6px 12px -6px rgb(24 39 75 / 0.12), 0 8px 24px -4px rgb(24 39 75 / 0.08);
  --shadow-s-500: 0 6px 14px -6px rgb(24 39 75 / 0.12), 0 10px 32px -4px rgb(24 39 75 / 0.10);
  --shadow-s-600: 0 8px 18px -6px rgb(24 39 75 / 0.12), 0 12px 42px -4px rgb(24 39 75 / 0.12);
  --shadow-s-700: 0 8px 22px -6px rgb(24 39 75 / 0.12), 0 14px 64px -4px rgb(24 39 75 / 0.12);
  --shadow-s-800: 0 8px 28px -6px rgb(24 39 75 / 0.12), 0 18px 88px -4px rgb(24 39 75 / 0.14);

  --shadow-e-100: 0 1px 2px 0 rgb(0 0 0 / 0.3), 0 1px 3px 1px rgb(0 0 0 / 0.15);
  --shadow-e-200: 0 1px 2px 0 rgb(0 0 0 / 0.3), 0 2px 6px 2px rgb(0 0 0 / 0.15);
  --shadow-e-300: 0 1px 3px 0 rgb(0 0 0 / 0.3), 0 4px 8px 3px rgb(0 0 0 / 0.15);
  --shadow-e-400: 0 2px 3px 0 rgb(0 0 0 / 0.3), 0 6px 10px 4px rgb(0 0 0 / 0.15);
  --shadow-e-500: 0 4px 4px 0 rgb(0 0 0 / 0.3), 0 8px 12px 6px rgb(0 0 0 / 0.15);

  --text-display: 3rem;
  --text-heading-xl: 2.25rem;
  --text-heading-lg: 1.5rem;
  --text-heading-md: 1.25rem;
  --text-body-lg: 1.125rem;
  --text-body-md: 1rem;
  --text-body-sm: 0.875rem;
  --text-caption: 0.75rem;

  --line-height-display: 1.1;
  --line-height-heading: 1.2;
  --line-height-body: 1.5;
  --line-height-caption: 1.3;

}

body {
  font-family: 'Inter', sans-serif;
}